@using MvcBookStore.Models
@using PagedList.Mvc;
@model PagedList.PagedList<MvcBookStore.Models.SACH>

@helper Truncate(string input, int length) 
{ 
    if(input.Length < length)
    {
        @input
    }
    else
    {
        @input.Substring(0, length)<text>...</text>
    }
}

@{
    ViewBag.Title = "Sach";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Quản lý thông tin sách</h2>

<p>
    @Html.ActionLink("Thêm Mới", "ThemMoiSach")
</p>
<table class="table">
    <tr>
        <th>
            Tên sách
        </th>
        <th>
            Giá bán
        </th>
        <th>
            Mô tả
        </th>
        <th>
            Ảnh bìa
        </th>
        <th>
            Ngày cập nhật
        </th>
        <th>
            SL Tồn
        </th>
        <th>
            Tên chủ đề
        </th>
        <th>
            Tên NXB    
        </th>
        <th style="width: 200px"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tensach)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Giaban)
            </td>
            <td>
                @Truncate(item.Mota, 100)
            </td>
            <td>
                <img src="@Url.Content("~/Content/images/" + item.Anhbia)" alt="Alternate Text" width="120" height="120" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaycapnhat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Soluongton)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CHUDE.TenChuDe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NHAXUATBAN.TenNXB)
            </td>
            <td>
                @Html.ActionLink("Sửa", "SuaSach", new { @id = item.Masach }) |
                @Html.ActionLink("Chi tiết", "ChiTietSach", new { @id = item.Masach }) |
                @Html.ActionLink("Xóa", "XoaSach", new { @id = item.Masach })
            </td>
        </tr>
    }

</table>
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount;

<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Sach", new { page }))
</div>
<style>
    .MenuTrang li {
        display: inline
    }

        .MenuTrang li:not(:last-child) {
            margin-right: 15px
        }

    .MenuTrang .pagination {
        padding: 0 !important
    }
</style>
