@model IEnumerable<MvcBookStore.Models.SACH>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="product_grid">
    @foreach (var sach in Model)
    {
        <div class="product_card">
            <a href="@Url.Action("Details", "BookStore", new { id = sach.Masach })">
                <img class="product_image" alt="@sach.Tensach" src="~/Content/images/@sach.Anhbia" />
            </a>
            <div class="product_content">
                <h3 class="product_title">@sach.Tensach</h3>
                <p class="product_price">@sach.Giaban VND</p>
                <div class="product_buttons">
                    <a class="buy_now_button" href="@Url.Action("Details", "BookStore", new { id = sach.Masach })">Buy Now</a>
                    <a class="detail_button" href="@Url.Action("Details", "BookStore", new { id = sach.Masach })">Details</a>
                </div>
            </div>
        </div>
    }
</div>


