@using MvcBookStore.Models
@using PagedList.Mvc
@model PagedList.PagedList<SACH>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="product_grid">
    @foreach (var sach in Model)
    {
        <div class="product_card">
            <a href="@Url.Action("Details", "BookStore", new { id = sach.Masach })">
                <img class="product_image" alt="@sach.Tensach" src="~/Content/images/@sach.Anhbia" />
            </a>
            <div class="product_content">
                <h3 class="product_title">@sach.Tensach</h3>
                <p class="product_price">@sach.Giaban VND</p>
                <div class="product_buttons">
                    <a class="buy_now_button" href="@Url.Action("Details", "BookStore", new { id = sach.Masach })">Buy Now</a>
                    <a class="detail_button" href="@Url.Action("Details", "BookStore", new { id = sach.Masach })">Details</a>
                </div>
            </div>
        </div>
    }
</div>
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount;

<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>
<style>
    .MenuTrang li{
        display: inline
    }
    .MenuTrang li:not(:last-child){
        margin-right: 15px
    }
    .MenuTrang .pagination {
        padding: 0!important
    }
</style>




